<%- include("header") -%>
<h1>This is a about Page</h1>
<p>I am the creator of the page. My name is vishnu G Prabhu. I am a Bsc Cs student in the Oxford college of science, Bangalore. Hope you like this page.</p>
<%- include("footer") -%>
